@import "../styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    color: $font-color-primary;
}

a {
    text-decoration: none;
    color: inherit;
}
button {
    font-family: "Open Sans", sans-serif;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}
section:nth-child(1) {
    background-image: url(/hero-bg.svg);
}
@mixin mobile {
    @media (max-width: 738px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: 1366px) {
        @content;
    }
}
